APP_NAME=MedMemory AI Engine
API_V1_STR=/api/v1

ENV = development / deployment

PYTHONUNBUFFERED = 1  ( $env:PYTHONUNBUFFERED="1" in your Runtime Environment )

MEDMEMORY_JWT_SECRET=jwt_secret_key

MEDMEMORY_OLLAMA_MODEL=qwen2.5:3b
MEDMEMORY_LLM_TIMEOUT=60.0

# In Manual Setup in System / VM
DATABASE_URL=postgresql://postgres:local_secret@localhost:5432/medmemory
# In Docker Setup in Containers
DATABASE_URL=postgresql://postgres:local_secret@postgres:5432/medmemory

# In Manual Setup in System / VM
OLLAMA_BASE_URL=http://localhost:11434
# In Docker Setup in Containers
OLLAMA_BASE_URL=http://ollama:11434

# In Manual Setup in System / VM
MEDMEMORY_QDRANT_HOST=localhost
# In Docker Setup in Containers
MEDMEMORY_QDRANT_HOST=qdrant

MEDMEMORY_QDRANT_PORT=6333
MEDMEMORY_QDRANT_API_KEY=
OLLAMA_EMBED_MODEL=mxbai-embed-large:latest
